<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">   

    <xacro:property name="camera_link" value="0.05" /> <!-- Size of square 'camera' box -->

    <joint name="camera_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="${0.3+camera_link/4} 0 ${0.15-camera_link/2}" rpy="0 0 0"/>
        <parent link="chassis"/>
        <child link="camera_link"/>
    </joint>
    
    <!-- Camera -->
    <link name="camera_link">
        
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="${camera_link/2} ${camera_link*3} ${camera_link}"/>
            </geometry>
            <material name="blue"/>
        </visual>
        
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
        <box size="${camera_link/2} ${camera_link*3} ${camera_link}"/>
            </geometry>
        </collision>

        <xacro:inertial_box mass="0.005" x="${camera_link/2}" y="${camera_link*3}" z="${camera_link}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- camera -->
  <gazebo reference="camera_link">
    <material>Gazebo/Blue</material>
    <gravity>true</gravity>
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>